<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'CatApp/style.css' %}">
    <title>{% block title %}{% endblock %} - CatApp</title>
</head>

<body>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a class="sidebar--link" href="/">Home</a></li>
            <li><a class="sidebar--link" href="/gallery/">Gallery</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
